div{
    width: 600px;
    height: 200px;
    max-height: 300px;
    border-radius: 10%;
    background-color: beige;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border: 2px solid black;
}
button{
   padding: 5px;
   background-color: rgb(139, 215, 240);
   border-radius: 10px;
   width: 100px;
   font-size: larger;
}
h1{
    margin-top:25px;
    text-align: center;
}