*{
    margin: 0;
    padding: 0;
}
#box{
    border-radius: 20px;
    border: 3px solid rgb(104, 104, 129);
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height:250px;
    background: linear-gradient(230deg ,rgb(188, 154, 235),rgb(245, 191, 137)); 
    box-shadow: 5px 5px 15px rgba(5, 5, 0, 0.7)
    
}
h1{
    margin-top: 40px;
    font-size: 35px;
}
#show{
    padding: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 100px;  
    min-height: 40px;
}
#btn{
    font-size: medium;
    background-color: rgb(6, 6, 6);
    color: white;
    width: 80px;
    padding: 2px;
    border:1px solid white;
    border-radius: 20px;
}
#btn:hover{
    transform: scale(1.1);
    filter: brightness(50%);
}
#show:hover{
    transition:ease-out
}