* {
    margin: 0;
    padding: 0;
}
div {
    border-radius: 20px;
    border: 3px solid rgb(104, 104, 129);
    margin-left: 35%;
    margin-right: 30%;
    margin-top: 20%;
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height:250px;
    background: linear-gradient(85deg , rgb(16, 255, 255),rgb(255, 213, 163));
}
h1{ 
    padding: 20px;
}

#txt {
    width: 200px;
    height:20px;
    padding: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    border-radius: 10px;
}

#btn {
    margin: 20px;
    width: 100px;
    padding: 3px;
    border-radius: 10px;
    background-color: black;
    color: azure;
    font-size: medium;
}

#btn:hover{
    cursor: pointer;
    transform:scale(1.1);
}